* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
   
}

header {
    width: 100%;
    margin: 15px 0 0 0;
}

#container1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Estilização do logo */
header #logotipo {

}

header #logotipo a {

}

header #logotipo a img {
    width: 150px;
}

/*Estilização da pesquisa*/

header form {
    
}

header form input {
    width: 320px;
    height: 43.27px;
   border: #2d0c73 2px solid;
   border-radius: 10px;
}

#search::-webkit-input-placeholder {
    color: #2d0c73;
    padding: 0 0 0 10px;
    font-style: bold;
}

/*Estilização dos contatos*/
header #contato_menu {

}

header #contato_menu img {
    width: 20px;
}

header #contato_menu p {
   color: #2d0c73;
   font-size: small;
}

header #contato_menu_div {
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 0 0 7px 0;
}

/*Estilização do menu das redes sociais*/
header #social_media {
    
}

header #social_media ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

header #social_media ul li {
    list-style: none;
    margin: 0 5px;
}

header #social_media ul li a {

}

header #social_media ul li a img {
    width: 30px;
}


/*Estilização do menu de navegação*/
#menu {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d0c73;
    height: 50px;
}

#menu ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu ul li {
    
    
}

#menu ul li a {
    border-right: #fff 2px solid;
    padding-right: 35px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}


